{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="./">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans 'Unpublish multiple objects' %}
</div>
{% endblock %}

{% block content %}
 <div class="g-d-c csv-export-confirmation">
    {% if perms_lacking %}
        <p>{% blocktrans %}Your account doesn't have permission to unpublish the following objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <fieldset class="grp-module">
            <h2>{% blocktrans %}Are you sure you want to unpublish the selected {{ object_name }} objects? All of the following objects and their related items will be unpublished:{% endblocktrans %}</h2>
        </fieldset>
        <div class="">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    {% for obj in queryset %}
                        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
                    {% endfor %}
                    <input type="hidden" name="action" value="unpublish_selected" />
                    <input type="hidden" name="post" value="yes" />
                    <ul class="grp-horizontal-list-right grp-submit-row">
                        <li><input type="submit" value="{% trans "Yes, Unpublish" %}" /></li>
                    </ul>
                </div>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}
